@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




body{
    margin: 0;
    padding: 0;
    background-color: rgb(59, 101, 17);
}
#header{
    background-color:rgb(133, 182, 19);
    height: 100px;
    width: 100%;
    text-align: center;
    color: rgb(255, 251, 0);
    font-size: 40px;
    line-height: 100px;
}
#text1{
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(255, 221, 0);
    font-weight: bold;
    font-family: "Playwrite NZ Basic", cursive;
    }
#footer{
    background-color:rgb(133, 182, 19);
    height: 50px;
    width: 100%;
    text-align: right;
    color: white;
    font-size: 20px;
    line-height: 50px;
    position: static;
    bottom: 0;
}
#sidebarleft{
    position: static;
    bottom:50px;
    top: 100px;
    width: 100%;
    background-color: rgb(13, 131, 13);
    text-align: center;
    font-size: 50px;
    color:yellow;
    border: 5px solid yellow;
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}
.block{
    padding:15px 0;
    width: 80%;
    font-size: 1px;
    background-color: rgb(198, 123, 19);
    position: relative;
    color:aliceblue;
    border: 2px solid yellow;
    border-radius: 5%;
    cursor:pointer;
    width: 45%;
        font-size: 14px;
}
.fg {
    height: 500px; /* экран минус header + footer */
    margin-left: 50%;           /* место под sidebar */

    display: flex;
    justify-content: center;    /* по горизонтали */
    align-items: center;        /* по вертикали */
    width: 200px;
    cursor: pointer;     
    background-color: rgb(59, 101, 17); 
    border: none;

}
.fg img {
    max-width: 100%;
    max-height: 100%;
    border-radius:10% ;
    border: 5px solid white;
    margin-left: -80%;
}
#text2{
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-top: 1px;
    position: static;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 120px;
    
}
#content {
    position: absolute;
    top: 150px;        /* высота header */
    left: 20%;         /* ширина sidebar */
    right: 0;
    bottom: 100px;      /* высота footer */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: poppins, sans-serif;
    font-weight: 800;
    font-size: 50px;
    position: static;
    margin: 20px 0;
}
#rebirth{
    position: flex;
    right: 0;
    top: 150px;
    width: 100%;
    height: 200px;
    background-color: rgb(121, 13, 131);
    text-align: center;
    font-size: 20px;
    color: white;
    border: 5px solid rgb(81, 0, 77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}
#lederboard{
    position: flex;
    left: 0;
    top: 150px;
    width: 100%;
    height: 400px;
    background-color: rgb(166, 177, 6);
    text-align: center;
    font-size: 20px;
    color: white;
    border: 5px solid rgb(13, 13, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}
#sellfat{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(198, 198, 14);
    color: white;
    border: 2px solid orange;
    border-radius: 5%;
    cursor:pointer;
}